<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <footer class="footerContainer">
      <div class="createGroup">
        <p class="textGroup">Create your own Meetup group.</p>
        <button class="groupBtn">Get Started</button>
      </div>
      <div class="line"></div>
      <div class="footerMenu">
        <div class="yourAccount">
          <h2 class="title">Your Account</h2>
          <ul class="itemsMenu">
            <li class="item">
              <a class="itemLink" href="#sign up">Sign up</a>
            </li>
            <li class="itemAccount">
              <a class="itemLink" href="#log in">Log in</a>
            </li>
            <li class="itemAccount">
              <a class="itemLink" href="#Help">Help</a>
            </li>
            <li class="itemAccount">
              <a class="itemLink" href="#Become an Affiliate"
                >Become an Affiliate</a
              >
            </li>
          </ul>
        </div>
        <div class="discover">
          <h2 class="title">Discover</h2>
          <ul class="itemsMenu">
            <li class="item">
              <a class="itemLink" href="#groups">Groups</a>
            </li>
            <li class="itemDiscover">
              <a class="itemLink" href="#calendar">Calendar</a>
            </li>
            <li class="itemDiscover">
              <a class="itemLink" href="#topics">Topics</a>
            </li>
            <li class="itemDiscover">
              <a class="itemLink" href="#cities">Cities</a>
            </li>
            <li class="itemDiscover">
              <a class="itemLink" href="#online events">Online Events</a>
            </li>
            <li class="itemDiscover">
              <a class="itemLink" href="#loacl guides">Local Guides</a>
            </li>
            <li class="itemDiscover">
              <a class="itemLink" href="#make friends">Make Friends</a>
            </li>
          </ul>
        </div>
        <div class="meetup">
          <h2 class="title">MeetUp</h2>
          <ul class="itemsMenu">
            <li class="item">
              <a class="itemLink" href="#about">About</a>
            </li>
            <li class="itemMeetup">
              <a class="itemLink" href="#blog">Blog</a>
            </li>
            <li class="itemMeetup">
              <a class="itemLink" href="#meetup pro">Meetup Pro</a>
            </li>
            <li class="itemMeetup">
              <a class="itemLink" href="#careers">Careers</a>
            </li>
            <li class="itemMeetup">
              <a class="itemLink" href="#apps">Apps</a>
            </li>
            <li class="itemMeetup">
              <a class="itemLink" href="#podcast">Podcast</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="media">
        <div class="followUs">
          <h2 class="textFollowUs">Follow us</h2>
          <div class="mediaLogos">
            <a class="itemLink" href="#facebook"
              ><img
                class="iconMedia"
                src="/assets/icons/Link - Meetup on Facebook → SVG.svg"
                alt="Facebook"
            /></a>
            <a class="itemLink" href="#twitter"
              ><img
                class="iconMedia"
                src="/assets/icons/Link - Meetup on Twitter → SVG.svg"
                alt="Twitter"
            /></a>
            <a class="itemLink" href="#youtube"
              ><img
                class="iconMedia"
                src="/assets/icons/Link - Meetup on YouTube → SVG.svg"
                alt="YouTube"
            /></a>
            <a class="itemLink" href="#instagram">
              <img
                class="iconMedia"
                src="/assets/icons/Link - Instagram → SVG.svg"
                alt="Instagram"
            /></a>
            <a class="itemLink" href="#TikTok"
              ><img
                class="iconMedia"
                src="/assets/icons/Link - TikTok → SVG.svg"
                alt="TikTok"
            /></a>
          </div>
        </div>
        <div class="store">
          <a class="storeLink" href="#googlePlay"
            ><img
              class="iconStore"
              src="/assets/icons/Link - Download app from Google Play → download_en-US.svg.svg"
              alt="Google Play"
          /></a>
          <a class="storeLink" href="#appStore"
            ><img
              class="iconStore"
              src="/assets/icons/Link - Download app from App Store → download_en-US.svg.svg"
              alt="App Store"
          /></a>
        </div>
      </div>
      <div class="terms">
        <p class="year">© 2024 Meetup</p>
        <div class="termsMenu">
          <a class="termsLink" href="#terms of service">Terms of Service</a>
          <a class="termsLink" href="#Privacy Policy">Privacy Police</a>
          <a class="termsLink" href="#Do Not Sell or Share My Personal Data"
            >Do Not Sell or Share My Personal Data</a
          >
          <a class="termsLink" href="#Cookie Policy">Cookie Policy</a>
          <a class="termsLink" href="#help">Help</a>
        </div>
      </div>
    </footer>

    <script src="/scripts/script.js"></script>
  </body>
</html>
