$primaryColor: rgba(0, 121, 138, 1);
$mainFontAndFooterColor: rgba(33, 33, 33, 1);
$secondFontColor: rgba(112, 112, 112, 1);
$navSearchColor: rgba(246, 88, 88, 1);
$footerFontColor: rgba(197, 196, 196, 1);
$footerTitleFontColor: rgba(246, 247, 248, 1);
$buttonFontColor: rgba(255, 255, 255, 1);
$dataEventFontColor: rgba(124, 111, 80, 1);
$spotsLeftColor: rgba(227, 35, 89, 1);
$colorLayoutCategories: rgba(247, 251, 251, 1);
$backgroundFilters: rgba(246, 247, 248, 1);
